/* You can add global styles to this file, and also import other style files */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Optional: This ensures the container takes up the full height of the viewport */
  }
  